.body-content {
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20231227/pngtree-aesthetic-backdrop-featuring-a-delicate-light-blue-watercolor-texture-image_13897547.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.calc {
  border: 4px solid;
  padding: 24px;
  background-color: #0000cd;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 20px;
}
